.end-text-container {
  padding-top: 12px; /*j'ai arrondi par rapport à la maquette*/
  font-family: "Novel Sans Pro";

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 24px;
    line-height: 130%;
  }

  span {
    font-size: 44px;
    line-height: 100%; /* j'ai arrondi par rapport à la maquette */
    font-family: Capitol;
  }

  p:first-child {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 12px; /* arrondi */
  }

  h4 {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 10px;
    // line-height: 122.923%; /* 24.585px */
  }

  .end-detail-container {
    font-size: 16px;
    font-weight: 200;
    line-height: 120%;
    p {
      font-weight: 300;
    }
  }
}

.end-section {
  padding: 918px 0 42px;
  background-image: url(../img/section-end/background-1.png?as=webp);
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  overflow: hidden;
}

.end-tiger-vide {
  position: relative;
  height: 0;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .end-tiger-container {
    position: relative;
    top: 19vh;
  }

  img {
    width: 425px;
  }
}
