.end-text-container {
  padding-top: 12px; /*j'ai arrondi par rapport à la maquette*/
  font-family: "Novel Sans Pro";

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 24px;
  }

  span {
    font-size: 44px;
    line-height: 100%; /* j'ai arrondi par rapport à la maquette */
    font-family: Capitol;
  }

  p:first-child {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 12px; /* arrondi */
  }

  h4 {
    font-size: 20px;
    font-weight: 650;
    line-height: 122.923%; /* 24.585px */
  }

  .end-detail-container {
    font-size: 16px;
    font-weight: 200;
    line-height: 120%;
  }
}

.end-section {
  padding: 918px 0 42px;
  background-image: url(../img/section-end/background-1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  img {
    width: 100%;
  }
}
