.fall-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  img {
    max-width: 100%;
    position: relative;
  }

  div {
    position: relative;
  }
  .case-fixed {
    z-index: 100;
  }
}

.fall-section > div:nth-child(2) {
  top: -300px;
}

.fall-section > div:nth-child(3) {
  padding-bottom: 300px;
}

.fall-container-snow {
  display: flex;
  width: 100%;
  gap: 12px;
  padding-bottom: 70px;
  img:first-child {
    width: 75%;
  }
  div {
    width: 25%;
    background-image: url(../img/section-fall/snow-trees-v2.png);
    background-position: center;
    background-size: cover;
    border: solid black 12px;
  }
}

.fall-container-cow-tiger {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: -270px;
  padding: 80px 0;
  img {
    position: relative;
  }
  img:first-child {
    width: 753.969px;
  }
  img:last-child {
    width: 518.366px;
    align-self: flex-end;
    top: -270px;
  }
}

.fall-container-fox {
  display: flex;
  flex-direction: column;
  margin: -320px 0 70px;
  img:first-child {
    width: 428.142px;
    position: relative;
    bottom: -320px;
  }
  img:last-child {
    width: 1380.553px;
    align-self: center;
  }
}

.fall-container-tiger {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  padding-bottom: 235px;
  img:first-child {
    // width: 724.717px;
    width: 60%;
  }
  img:last-child {
    // width: 753.944px;
    width: 70%;
    align-self: flex-end;
  }
}

.fall-container-center-pink {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 180px;
  img {
    width: 30%;
  }
}

.fall-container-center-3 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 230px;
  img {
    width: 75%;
  }
}

.fall-container-snow-color {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
