.fall-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100%;
    position: relative;
  }

  div {
    position: relative;
  }
  .case-fixed {
    z-index: 100;
  }
}

.fall-section > div:nth-child(2) {
  top: -300px;
}

.fall-section > div:nth-child(3) {
  padding-bottom: 300px;
}

.fall-container-snow {
  display: flex;
  align-items: center;
}
