footer {
  background: white;
  padding: 12px 46px;
  font-family: "Novel Sans Pro";
  display: flex;
  gap: 47px;
  align-items: center;
  z-index: 100;

  img {
    width: 228px;
  }

  .space {
    flex-grow: 1;
  }
}
