.intro-section1 {
  height: 100vh;
  width: 100vw;
  position: absolute;

  img {
    width: 100%;
  }
}

.intro-container {
  div {
    position: relative;
    height: 0;
  }
}

.screen-a1 {
  position: relative;
}

.parallax-top-space {
  height: 1px;
}
