.section-chute-bestiole {
  border: 5px dashed grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2500px;

  div {
    position: relative;
  }
  .case-fixed {
    background: brown;
    z-index: 100;
  }
}
