/* slider mask */
.slider-mask {
  height: 100vh;
}

/* slider track */
.slider-track {
  height: 100%;
  display: inline-flex;

  .horizontal-container-1 {
    width: 100vw;
    padding: 0 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    :first-child {
      z-index: 20;
      width: 400px;
      height: 200px;
      margin-top: 100px;
      margin-right: 40px;
      position: absolute;
    }

    :nth-child(2) {
      position: absolute;
      width: 100vw;
      padding: 0 80px;
      transition: 0.15s;
    }

    img {
      max-width: 100%;
    }
  }

  .horizontal-container-2 {
    display: flex;
    padding: 0 160px 0 110px;
    // align-items: center;
    // justify-content: flex-start;
  }

  .horizontal-container-2 > :first-child {
    margin: 50px 160px 50px 0;
  }

  .horizontal-container-3 {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0;
    flex-shrink: 0;

    img {
      height: 100%;
    }
    div:last-child {
      align-self: flex-end;
    }
  }
}

.horizontal-container-3 > div {
  height: 46%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.horizontal-container-3 > div:nth-child(2) {
  justify-content: flex-end;
}

.horizontal-container-4 {
  display: flex;
  gap: 160px;
  margin: 120px 0;
}

.horizontal-container-1 :first-child:hover + img {
  opacity: 0;
}
