.section-thunder {
  height: 200vh;
  border: 5px dotted black;
  overflow: hidden;
}

.thunder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 600px;
  left: 50vw;
  opacity: 1;
  height: 600px;
  width: 600px;
  background: #ff00ae5d;
  border: dashed 4px #ff00ae;
}
