.thunder-section {
  position: relative;
  // top: -30vh;
  margin-top: -30vh;
  img {
    width: 100%;
  }

  .thunders {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -118vh;
    height: 90vh;
    img {
      max-width: 50%;
      position: relative;
      z-index: 10;
    }
    img:nth-child(2) {
      align-self: flex-end;
      right: -120px;
    }
    img:nth-child(1) {
      left: -40px;
    }
  }
}

.thunder-section > img:nth-child(3) {
  position: relative;
  margin-top: -10vh;
}
