* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  // width: 100%;
}

// empeche scroll droite et gauche
body {
  overflow-x: hidden;
}
