@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/section-horizontal";
@import "modules/fall-section";
@import "modules/intro-section";
@import "modules/thunder-section";
@import "modules/end-section";
@import "modules/footer";
@import "modules/button";

@import "bootstrap/scss/bootstrap-grid";

/* 

truc à faire :


end-section : 
revoir les graisses ou les taille, c'est pas exacte comme ça.

metadonnée 

global détails facultatif :
  hover tigre
  fall movement images

*/
