@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/section-horizontal";
@import "modules/section-thunder";
@import "modules/fall-section";
@import "modules/section-parallax";
@import "modules/thunder-section";
@import "modules/end-section";
@import "modules/footer";
@import "modules/button";

@import "bootstrap/scss/bootstrap-grid";

/* 

truc à faire :

end-section : 
  flou du background
  ajouter les liens des font dans le projet
  revoir les graisses ou les taille, c'est pas exacte comme ça.
  animation tigre se releve

bouton aller à la fin !!

fall :
  facultatif -> movement images

global détails :
  hover

*/
